{
    "http": {
        "address": "127.0.0.1:8080",
        "server": "spirit api server",
        "timeout": 10000,
        "enable_stat":true,
        "api_header": "X-Api",
        "path": "/v1",
        "cookies_domain": "",
        "p3p": "CP=\"CURa ADMa DEVa PSAo PSDo OUR BUS UNI PUR INT DEM STA PRE COM NAV OTC NOI DSP COR\"",
        "allow_origins": ["*"],
        "allow_headers": [],
        "response_headers": {"X-Test": "001"},
        "pass_through_headers": ["Authorization"],
        "signature":{
            "enabled":true,
            "private_key":"",
            "header":"X-Signature"
        }
    },
    "renderer":{
        "default_template":"",
        "templates":[],
        "variables":["conf/render_vars.conf"],
        "relation":{"api.tmpl":["api.task.new"]}
    },
    "include_config_files":[],
    "address": [{
        "name": "port.new_task",
        "type": "mqs",
        "url": "http://access_key_id:acces_key_secert@owner_id.mqs-cn-beijing.aliyuncs.com/todo-task-new"
    },{
        "name": "port.api.error",
        "type": "mqs",
        "url": "http://access_key_id:acces_key_secert@owner_id.mqs-cn-beijing.aliyuncs.com/api-error-srv001-001"
    },{
        "name": "port.api.callback",
        "type": "mqs",
        "url": "http://access_key_id:acces_key_secert@owner_id.mqs-cn-beijing.aliyuncs.com/api-callback-srv001-001"
    }],
    "graphs": [{
        "api": "api.task.new",
        "graph": ["port.new_task", "port.api.callback"],
        "error_address_name":"port.api.error",
        "is_proxy":false
    }]
}